.counter-number{
    font-size: 70px;
    border-radius: 15%;
    border-left:2px solid  gray;
    border-right:2px solid gray;
    background-color: rgb(13, 13, 13);
    font-family: "GFS Didot";

}
.black-bg{
    background-color:rgb(9, 9, 9) ;
}
